* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.app {
  background-color: #fafafa;
}
.app__header {
  object-fit: contain;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  margin-bottom: 45px;
}
.app__signUp {
  display: flex;
  flex-direction: column;
}
