* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.app {
  background-color: #fafafa;
}
.app__header {
  object-fit: contain;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
}
.app__header img {
  object-fit: contain;
}
.app__signUp {
  display: flex;
  flex-direction: column;
}
.app__posts {
  padding: 20px;
}
